html{ height: 100%;}
* {
    margin: 0;
    box-sizing: border-box;
    font-family: Murecho;
}

.navbarra { 
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4B4B4B;
    position: sticky;
    font-weight:bolder;
}

input {                        
    display: none;     
  }

label {                       
    display:none;
}

nav li {
    padding: 2%;
}

nav ul li :hover { 
    color: rgba(255,152,112,1);;
}

li {
    padding-bottom: 12px;
}

body{
    background-color: #fff;
    position: relative;
    min-height: 100vh;

}

main{ 
    position: relative;
}

a {
    color: white;
    text-decoration: none;
}

.bienvenidaTitulo {
    padding-left: 9%;
    padding-top: 3%;
    font-weight: 2500;
    font-size: x-large;
}

.bienvenidaTexto {
    padding-left: 9%;
    font-size: large;
}

h1{
    padding-left: 9%;
    padding-top: 3%;
    width: 250px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 20px;
    left: 8px;
    font-size: 32px;
    opacity: 1;
    text-align: left;
    /*font-weight: 1000;*/
    line-height: normal;
    font-weight: bolder;
}

h2 {
    padding-top: 2%;
    color: rgba(255,152,112,1);;
} 

h3{
    width: 117px;
    color: rgba(255,152,112,1);
    position:sticky;
    top: 80px;
    left: 35px;
    font-size: 24px;
    opacity: 1;
    text-align: left;
    font-weight: 400;
    line-height: normal;
}

.infotext{
    width: 658px; 
    position: relative;
    top: 32px;
    left: 0px;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(255,152,112,1);
    text-align: center;
    font-size: smaller;
    color: white;
    width: 100%;
   
}

.cursiva {
    font-style: italic;
    color:#4B4B4B;
    font-weight: bolder;
    font-size: large;
  }

.contenedorflex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 450px;
    height: 900px;
    background-position: right;
    background-repeat: no-repeat;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

article{
    background-color: rgba(217,217,217,1);
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    width: 783px;
}

article p{
    margin: 0.7rem;
}

.foto1{
    background-position: center center; 
    border-radius: 45px;
    text-align: center;
    overflow: hidden;
}

img {
    display: block;
    width: 230px;
    height: 250px;
    margin: auto;
}

.vinculo{
    font-style: italic;
}


 
@media all and (max-width: 700px) {  
    input:checked  ~ ul{   
        display:block;
      }
  
    input:checked ~ label {  
        background: #D4D4D4;
        }
  
    label:hover{                
        background: rgba(255,152,112,1);
      }
  
    li{                         
        margin: 0px;
        text-align: left;
    }
    
    nav{
        background-color: #4B4B4B;
        width: auto;
    } 
    
    label {                     
        box-sizing: border-box;
        display: block;
        border: 1.1px solid white;
        color: white;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        background-color: #4B4B4B;
    }
    
    .navbarra{
        display: none; 
        background-color: #4B4B4B;
    }

    .navbarra li {
        padding-right: 13%;
    }

    .contenedorflex{
        flex-direction: column;
        justify-content: center;
    }
    
    article{
        display: block;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        overflow: hidden;
    }

    .infotext{
        font-size:small;
        width: fit-content;
    }
    
    img{
        width: auto;
        size-adjust: 30%;
    }
    
    h1 {
        font-size: 25px;
    }

    .cursiva{
        font-size: small;
    }

    footer {
        font-size: 12px;
        position: static;
    }
}

