* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_24 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_26 {
  width: 100%;
  height: 96px;
  background: rgba(75,75,75,1);
  opacity: 1;
  position: absolute;
  top: 928px;
  left: 0px;
  overflow: hidden;
}
.v1_25 {
  width: 100%;
  height: 175px;
  background: rgba(249,197,102,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_37 {
  width: 100%;
  height: 77px;
  background: url("../images/v1_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 100px;
  overflow: hidden;
}
.v1_36 {
  width: 234px;
  height: 77px;
  background: rgba(255,152,112,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1028px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_34 {
  width: 234px;
  height: 77px;
  background: rgba(255,152,112,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 693px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_33 {
  width: 234px;
  height: 77px;
  background: rgba(255,152,112,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 337px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_32 {
  width: 234px;
  height: 77px;
  background: rgba(255,152,112,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v4_38 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 958px;
  left: 53px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: right;
}
.v11_6 {
  width: 100%;
  height: 29px;
  background: url("../images/v11_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 115px;
  overflow: hidden;
}
.v4_42 {
  width: 169px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1045px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_41 {
  width: 176px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 707px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_40 {
  width: 101px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 390px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_39 {
  width: 203px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_43 {
  width: 431px;
  color: rgba(75,75,75,1);
  position: absolute;
  top: 235px;
  left: 694px;
  font-family: Inter;
  font-weight: Black;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v4_44 {
  width: 308px;
  color: rgba(75,75,75,1);
  position: absolute;
  top: 405px;
  left: 81px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v4_46 {
  width: 843px;
  height: 490px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 505px;
  border-top-left-radius: 56px;
  border-top-right-radius: 56px;
  border-bottom-left-radius: 56px;
  border-bottom-right-radius: 56px;
  overflow: hidden;
}
.v14_12 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 422px;
  left: 563px;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v20_3 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 422px;
  left: 1003px;
  opacity: 1;
  text-align: left;
}
.v14_9 {
  width: 266px;
  height: 339px;
  background: url("../images/v14_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 490px;
  left: 102px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  overflow: hidden;
}
