h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

p{
    color: green;
}

body{
    background-color: aquamarine;
}


#encabezado{
    background-color: yellow;
}

.tipoletra{
    font-size: large;
    color: rgb(141, 108, 149);
    border: solid 3px;
    padding: 20px;
    margin: 0px;
    width: 50%;
}

img{
    background-color: yellow;
    border-radius: 30px;
    border: solid 2px;
    padding: 0px;
}